@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/templates";

.popup {
  @include size(90%, auto);
  min-height: 50%;
  max-height: 90%;
  background: white;
  position: relative;
  padding: 16px;

  a {
    @extend %button;
  }
}

.totalPrice {
  @include flex(row, space-between, center, wrap);
  margin: 25px 0;
  position: relative;

  &:before {
    content: '';
    @include size(100%, 1px);
    background: #EBEBEB;
    position: absolute;
    top: -10px;
    left: 0;
  }
}
