@import "variables";
@import "mixins";

/* main style */

body {
  font-family: WorkSans, serif;
  font-weight: 400;
  line-height: 21px;
  font-size: 16px;
  font-style: normal;
  color: $colorMainText;
}

h1 {
  font-family: RobotoSlab, serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 53px;

  span {
    color: $colorMainElementsAndExcretion;
  }
}

h2 {
  font-family: RobotoSlab, serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
}

h3 {
  font-family: WorkSans, serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

h4 {
  font-family: WorkSans, serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}

p {
  &.grey {
    font-weight: 500;
    color: $colorClassGrey;
  }

  &.lightGrey {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $colorClassLightGrey;
  }

  &.colorTitle {
    font-weight: 500;
    color: $colorMainElementsAndExcretion;
  }

  span {
    color: $colorMainElementsAndExcretion;
    text-decoration: underline;
  }
}

.inputCheckbox {
  label {
    position: relative;

    &:before {
      @include size(16px, 16px);
      content: "";
      background: url("../img/checkbox-checked.png") center;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 0;

      transform: scale(0) rotateZ(180deg);
      transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
    }

    &:after {
      @include size(15px, 15px);
      content: "";
      border: 1px solid $colorMainElementsAndExcretion;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 2px;
    }
  }

  input {
    display: none;

    &:checked + label:before {
      transform: scale(1) rotateZ(0deg);
    }
  }
}

svg {
  fill: $colorMainElementsAndExcretion;
}

button {
  background: $colorMainElementsAndExcretion;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid $colorMainElementsAndExcretion;
  border-radius: 6px;
  font-family: Roboto, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: $colorButton;

  &:active {
    background: $colorButton;
    color: $colorMainElementsAndExcretion;
  }

  &.backWhite {
    background: $colorButton;
    color: $colorMainElementsAndExcretion;

    &:active {
      background: $colorMainElementsAndExcretion;
      color: $colorButton;
    }
  }
}

@media (max-width: 375px) {
  .container {
    @include size(100%, auto);
    padding: 0 16px;
  }

  button {
    @include size(100%, auto);
  }
}

/* slider */

.swiper-pagination-progressbar {
  padding: 0;
  width: 20%!important;
  top: unset!important;
  bottom: 0;
  left: 50%!important;
  transform: translateX(-50%);
  z-index: 20;
  border-radius: 10px;
  overflow: hidden;

  span {
    background: $colorMainElementsAndExcretion!important;
    border-radius: 10px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  @include size(40px, 40px);
  background: rgba(0,0,0,0.5);
  padding: 0;

  &:after {
    font-size: 18px;
    color: #fff;
  }
}

.swiper-button-next {
  right: -10px;
}

.swiper-button-prev {
  left: -10px;
}

.swiper-wrapper {
  @include size(100%, 95%);
  padding: 0;

  .swiper-slide {
    @include size(100%, 100%);
    padding: 0;
  }
}

