@import "../../../../../assets/scss/mixins";
@import "../../../../../assets/scss/variables";

span.options__title {
  margin-top: 10px;

  p {
    font-weight: 600;
    position: relative;

    &:before {
      content: '';
      @include size(100%, 1px);
      background: $colorMainElementsAndExcretion;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.options__box {
  @include size(100%, 150px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px;
  background: #FAFAFA;
  margin: 10px 0;
}

.options__item {
  @include size(100%, auto);
  @include flex(row, space-between, stretch, nowrap);
  position: relative;

  &:not(:last-child):before {
    content: '';
    @include size(100%, 1px);
    background: #EBEBEB;
    position: absolute;
    bottom: -8px;
    left: 0;
  }

  &:not(:first-child) {
    margin-top: 16px;
  }

  img {
    @include size(60px, 60px);
    object-fit: cover;
    border-radius: 4px;
  }

  .options__itemTitle {
    @include size(100%, auto);
    @include flex(column, space-around, flex-start, nowrap);
    margin: 0 8px;
  }

  .options__inputCheckbox {
    @include size(20px, auto);

    label {
      position: relative;
      top: 37%;

      &:before {
        @include size(16px, 16px);
        content: "";
        background: url("../../../../../assets/img/checkbox-checked.png") center;
        background-size: contain;
        position: absolute;
        left: 0;
        top: 0;

        transform: scale(0) rotateZ(180deg);
        transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
      }

      &:after {
        @include size(15px, 15px);
        content: "";
        border: 1px solid $colorMainElementsAndExcretion;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 2px;
      }
    }

    input {
      display: none;

      &:checked + label:before {
        transform: scale(1) rotateZ(0deg);
      }
    }
  }
}
