@import '../../../../assets/scss/mixins';

.popup {
  @include size(90%, 80%);
  background: white;
  position: relative;

  .popup__text {
    @include size(100%, 35%);
    padding: 10px 12px 12px;

    span {
      @include size(100%, auto);
      @include flex(row, space-between, stretch, nowrap);
      font-size: 14px;
    }

    h3 {
      margin: 7px 0;
    }

    p {
      height: 55%;
      overflow-y: auto;
      padding-right: 10px;
    }
  }
}
